body {
	
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Sans Serif, Arial Western, Verdana;
	font-size: small;
        text-align: center;
        align: center;
     }
 #gioithieu {color: red}       
